<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AdminMapper">

    <select id="selectAll" resultType="com.example.entity.Admin">
        select admin.*, academy.name as academyName from admin
        left join academy on admin.academy_id = academy.id
        <where>
            <if test="username != null and username != ''">admin.username like concat('%', #{username}, '%')</if>
            <if test="name != null and name != ''">admin.name like concat('%', #{name}, '%')</if>
            <if test="role != null and role != ''">
                and admin.role = #{role}
            </if>
            <if test="ids != null and ids != ''">
                and admin.id in
                <foreach collection="idsArr" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.example.entity.Admin">
        insert into `admin` (username, password, role, name, academy_id, avatar, salt)
        values (#{username}, #{password}, #{role}, #{name}, #{academyId}, #{avatar}, #{salt})
    </insert>

    <update id="updateById" parameterType="com.example.entity.Admin">
        update `admin` set username = #{username}, password = #{password}, role= #{role},
                           name = #{name}, academy_id= #{academyId} , avatar = #{avatar},
                           salt = #{salt}
        where id = #{id}
    </update>
</mapper>